 <div class="product-block">
   <a class="img-wrapper" href="{{ subcol.url }}">
     <img src="{{ subcol.image.compact_url }}" title="">
   </a>
    <a class="title" href="{{ subcol.url }}">{{ subcol.title | editable | truncate: 30 }}</a>

</div>
